body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,40,1) 35%, rgba(0,212,255,1) 100%);
  }

.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
}

.sec1 .img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: row;
}

.sec1 .img img{
    max-width: 30%;
    max-height: 30%;
}

